@import "tailwindcss";

body {
  /* Applying our new premium font */
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #f8fafc;
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}